body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: #ecebeb;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 30px;
    margin-bottom: 2%;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.colecao {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}

.produto img {
    width: 200px;
    height: auto;
    margin: 10px 0;
}

footer {
    background-color: #1f0c0c;
    color: white;
    padding: 15px;
    margin-top: 30px;
}
header img {
    width: 100%;
    height: 270px; 
    object-fit: cover; /* Mantém a imagem ajustada sem distorção */
    display: center;
}



#search {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ffffff; 
    color: rgb(102, 98, 98); 
    font-size: 15px; 
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
    transition: 0.3s ease-in-out; 
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); 
}

button:hover {
    background-color: #16110d; 
    transform: scale(1.05); 
}
.voltar {
    position: fixed;
    top: 20px;
    left: 20px;
    display: inline-block;
    background-color: #aaa9a8; 
    color: white; 
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none; 
    transition: 0.3s ease-in-out; 
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); 
}

.voltar:hover {
    background-color: #ffffff; 
    transform: scale(1.05);
}
.slide-container {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
}
.image-container {
    display: flex;
    width: 200vw; /* Largura total das imagens */
    animation: slideAnimation 9s infinite ease-in-out;
}

.slider-image {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}
.button-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.slider-button{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.slider-button:hover{
    background-color: #888;
}
@keyframes slideAnimation {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100vw); }
    100% { transform: translateX(0); }
}
